[Unit]
Description=Audiobookshelf Borganizer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=borganizer
Group=borganizer
WorkingDirectory=/opt/borganizer
Environment=BORGANIZER_CONFIG=/opt/borganizer/config.yaml
ExecStart=/opt/borganizer/venv/bin/borganizer run
