[Unit]
Description=Scan incoming Audiobookshelf books

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
Unit=librarian.service

[Install]
WantedBy=timers.target
